
.formulario-cont{
    background-color: #6c7a81;
   
}

footer{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .menu li{
    margin-top: 20px;     
}
footer .menu{
    list-style: none;
    padding-left: 0 !important;
}
footer .quicklinks .menu{
    display: flex;
    flex-direction: column;
}
.quicklinks .menu li a{
    text-decoration: none !important;
    color: #fff;
}
footer .social .fa{
    font-size: 1.8em;
    margin-right: 10px;
}
footer .social .fa:hover{
    color: #f7b733;
}

@media only screen and (max-width:600px){
    footer{
        display: flex;
        flex-direction:column-reverse;
    }
     footer .quicklinks .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    footer .social{
        margin: 2em;
    }
}