 .cards-ofertas{
    margin: 0 5px;
 }
 .atras{
     color: #000;
 }
 .banner{
     background-image: url(../img/verdu.jpeg);    
     width: 100% ;
     height: 180px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;     
     position: relative;
 }
 .capa{      
    width: 100%;
    height: 150px;
    bottom: 0;
    bottom: 0;
    background: linear-gradient(rgba(32, 42, 46, 0), rgb(39, 50, 57));
    opacity: 0.9;
    position: absolute;

 }
 .row{
    height: auto;
    
    --bs-gutter-x: 0 !important;
 }
 .row-header{
     
 }
 .banner-title h2{ 
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 35px;
    position: absolute; 
    width: 100%;
    padding-left: 20px;     
 }
 .banner-title p{
     width: 100%;       
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #fff;
     font-size: 14px;
     font-weight: 400;
     bottom: 0;
     position: absolute;
     padding-left: 20px;
 }
 .icons{
     padding-left: 20px;  
     padding-top: 50px;
     font-size: 13px;    
     color: #198754 !important;
 }
 .icons i{
     background-color: #dee4de;
     padding: 5px;
     border-radius: 4px 8px 8px 4px;
 }
 .card{
     border: none !important;     
 }
 .card-title{
     margin-bottom: 0 !important;
 }
 .card-text{
    font-size: 1.3em;
    color: #000; 
    font-family: serif;   
 }
 
 .cars img{
     width: 30vw;
     height: auto;
 }
 .precio{
     align-self: center;

 }
 .article{
     display: flex;
     margin-bottom: 15px;
     background-color:#f1f1f1;
     padding: 10px;     
 }