.row{
   margin-right: calc(var(--bs-gutter-x)/ 0) !important; 
   margin-left: calc(var(--bs-gutter-x)/ 0) !important;
   padding: 0 !important;
}
main{
    overflow: hidden;
}

.navbar-brand{
    margin: auto !important;       
} 
 
.jumbotron{
    background-image: url(../img/pexels-tim-douglas-6205512.jpg);       
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    height: 70vh;
    width: auto;
}
.jumbotron h1{
    margin-top: 40px;
}
 
.title{
    font-size: 1.5rem;
}
 
.title-oferta{
    font-size: 3rem;
    line-height: 1.3;     
    font-weight: bold !important;      
    color: #FFFFFF; 
    text-shadow: 4px 3px 0 #7A7A7A;
    color: #FFFFFF;
}

.title-inicio{
    text-align: center;
    font-size: 2rem;
    line-height: 1.3;
    color: #f1f1f1;
    font-weight: bold !important; 
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);       
}
.btn-ver-comercio{
    width: 60vw !important;
    border-radius: 10px !important;
    
}
.jumbotron p{
    color: #fff;
    padding: 0 30px;
    font-weight: 400;
}
.btn-primary{
    margin-top: 0px;
    background-color:  #198754 !important;
    margin-bottom: 30px;
    width: 100%;
    border: none !important;
}
.btn-success{
    margin: auto;
}
.boton{
    height: 400px !important;
}
.card{
    width: 90% !important;
    margin: auto;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.21); 
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.21);
}
.lista li{
    list-style: none;
}
 
.parallax{
    display: none;
    background-image: url(../img/Qr.jpg);
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.marketin{
    background-color: #8b5f5b;
    width: 100% !important;
    height: 300px !important;
    margin: auto;
    height: 200px;
    text-align: center;
    margin-top: 40px !important;
}
.marketin p{    
    color: #fff;
    width: 50%;
    padding: auto;
    margin: auto;
    padding-top: 50px;
    font-size: 30px;
    font-family: initial;
}
 
.contacto h2{    
    width: 80px;
    margin: auto;
    font-size: 30px;  
}
.card_group{
    margin-top: 50px;
}
.que-es-ofertas{
    margin-top: 40px !important;
}
.parrafo{
    margin: 20px;
}


.contacto-map{
    background-color: #cacaca;
}
.map{
	height: 400px;
	width: 100%;
    border-radius: 4px;
}
@media only screen and (min-device-width: 700px){
    .jumbotron{
        height: 100vh;
    } 
    .jumbotron h2{
        width: 60%;
        margin: auto;
     }
     .jumbotron h1{
         margin-top: 120px;
     }
    .card-img-top{           
        width: 350px !important; 
        height: 250px !important; 
        align-self: center;
        border-radius: 5px !important; 
        overflow: hidden;    
    }
    .card-body{
        margin-left: 30px;
    }
    .parallax{
        display: block;
        margin-top: 5rem;
        height: 350px;
    }
    .card-group{
        margin-top: 20px;
        margin-bottom: 80px;        
    }
    .card-que-es{
        margin: auto !important;

    }
    .que-es-ofertas{
        margin-top: 80px !important;
    }
    .card{
        margin-top: auto !important;
        margin: 0 50px;
    }
    .marketin{
        margin-top: 80px !important;
    }
    .marketin p{
        font-size: 50px;
    }
    .formulario-cont{
        width: 50% !important;
        margin-bottom: 80px;
        border-radius: 10px;
    }
    .btn-ver-comercio{
        width: 30vw !important;
    }
    .title-inicio{
        font-size: 56px !important;
    }
    .title-oferta{
        font-size: 68px;
    }
    .btn-ver-comercio{
        margin-top: 100px;
    }
    .contacto-map{
        background-color: #cacaca;
        display: flex;
        flex-direction: row;        
        margin-bottom: 40px;
    }
    .map{
        height: 400px;
        width: 50%;
        border-radius: 4px;
    }
    

}