 .ofertas{
     text-decoration: none !important;
    
 }

.cards-locales{
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 90px;
    width: 90px;
}
.cards-locales img{
    height: 100%; 
    border-radius: 5px;
    border: 1px solid #262525;
} 
 
.cards-nombre{
    padding-left: 15px !important;
    
}
.cards-nombre a{
     
}
.card-title{
    font-size: 1em;
    color: black;
}
.local-title i ,span{
    font-size: 0.8em;
    color: #757474;
}
.article-locales{
    margin-bottom: 20px;
    background-color: #f1f1f1;
}
.map-paseo-mb{
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

@media only screen and (min-device-width: 700px){
    .article{
        margin-bottom: 40px;
    }
    .cards-locales img{
        width: 200px;
    height: 200px;
    }
    .card-text{
        font-size: 2.3em;
        margin-top: 20px;
    }
    .article{
        width: 80%;
    }
    .card-title{
        margin-top: 20px;
    }
    .local-title{
        margin-top: 20px;
    }
    .icons{
        padding-top: 150px;
    }
    .article-locales{
        height: 200px;
        margin-bottom: 40px;
    }
    .map-paseo-mb{
        height: 400px;
        width: 100%;
        border-radius: 4px;   
    }
    



}
 