@import url('./header-comercios.css');
@import url('./locales.css');
@import url('./header.css');
@import url('./inicio.css');
@import url('./footer.css');
@font-face {
    font-family:Helvetica;
    src: url('../fuentes/helvetica-normal.ttf');
} 
@font-face {
    font-family:Sunflower\ PERSONAL\ USE;
    src: url('../fuentes/MADE\ Sunflower\ PERSONAL\ USE.otf');
}
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: Helvetica,Arial, Helvetica, sans-serif;
    line-height: 1.6;
    letter-spacing: 1.2px;
};
 